<h1>Dynamic Forms</h1>
<form [formGroup]="registerForm" (ngSubmit)="clickSubmit()">
    {{firstnameControl.errors | json}}
    <fieldset formGroupName="init">

        <div class="form-group">
        <label>Firstname:</label>
        <input type="text" formControlName="firstname" [(ngModel)]="user.firstname">
        <div style="display: block">
            <label [hidden]="!firstnameControl.invalid">Firstname must be between 6 and 15 characters</label>
            <label [hidden]="!firstnameControl.hasError('required')"> The field is required</label>
            <label [hidden]="!firstnameControl.hasError('minlength')">Min length must be 6 chrs.</label>
            <label [hidden]="!firstnameControl.hasError('maxlength')">Max length must be 15 chrs.</label>
            <label [hidden]="!firstnameControl.hasError('nekagreska')">Neka greska</label>
        </div>       
        </div>

        <div class="form-group">
        <label>Lastname:</label>
        <input type="text" formControlName="lastname" [(ngModel)]="user.lastname">
        </div>

        <div class="form-group">
        <label>City:</label>
        <input type="text" formControlName="city" [(ngModel)]="user.city">
        </div>
    
    </fieldset>


    <fieldset formGroupName="cred">

        <div class="form-group">
            <label>Username:</label>
            <input type="text" formControlName="username" [(ngModel)]="user.username">         
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="text" name="password" id="password" formControlName="password" [(ngModel)]="user.password">
        </div>

        <div class="form-group">
            <label>Re-type password:</label>
            <input type="text" formControlName="password2" validateEqual="password" [(ngModel)]="user.password2" #password2>
            {{ password2.errors | json }}
        </div>

    </fieldset>

    <button type="submit">Submit</button>

    <button (click)="button1Click()">Promeni vrednosti</button>
</form>